* {
  margin: 0;
  padding: 0;
}
/* body {
  overflow-y: visible;
  height: 100vw;
} */
.listitem {
  font-weight: bold;
  text-transform: uppercase;
}
.bgcol {
  background-color: rgb(64, 228, 149);
  border-radius: 10px;
}
.qty {
  height: 38rem;
  /* height: rem; */
  max-height: 100%;
  overflow-y: scroll;
}
.qty1 {
  height: 48rem;
  /* height: rem; */
  max-height: 100%;
  overflow-y: scroll;
}
.dnd {
  border: 3px dashed rgb(64, 228, 149);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.total {
  display: flex;
  justify-content: space-between;
}
.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mybtn {
  width: 100%;
  /* width: 15rem; */
  border-radius: 25px;
  color: white;
  padding: 7px;
  outline: none;
}
.foodimg {
  height: 3rem;
  width: 5rem;
  margin: auto;
  margin-top: 0.5rem;
}
/* .dishes {
  /* display: flex;
  align-items: center; */
/* justify-content: center; */

.card {
  border: 2px solid rgb(178, 176, 176);
  border-radius: 0.5rem;
  cursor: pointer;
}
.items {
  cursor: pointer;
  width: 10.6rem;
  color: white;
  background: none;
  border: none;
}
.items:hover {
  color: rgb(1, 68, 35);
  /* color: black; */
}
.current {
  color: rgb(3, 209, 109);
  /* border: 5px solid black; */

  background-color: white;
}

.foodorder {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
}
.txt {
  font-size: 0.9rem;
}
.order-btn {
  background: none;
  border: none;
  color: rgb(64, 228, 149);
}

/* counter */
.quantity {
  display: flex;
  align-items: center;
  border: 1px solid rgb(64, 228, 149);
  background: white;
  border-radius: 50px;
  font-size: 12px;
  color: black;
  min-width: 62px;
  justify-content: space-between;
}
.counter-btn {
  background: transparent;
  border: none;
  margin: 5px;
  color: black;
}
.counter-btn:focus {
  outline: 0;
}

.counter-btn:hover {
  cursor: pointer;
}
